[Desktop Entry]
Name=COSMIC Monitor
Comment=Panel network throughput and local MiJia power monitor
Type=Application
Exec=cosmic-applet-monitor
Icon=io.github.cosmic.Monitor-symbolic
Terminal=false
Categories=COSMIC;System;Monitor;
Keywords=COSMIC;Applet;Network;Power;MiJia;
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-OverflowMinSize=4
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
